<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/codemirror/theme/dracula.css') }}">
    <title>Snippet</title>
</head>
<body>
    <a href="/snippets">Back to snippets</a>
    <h3>Update snippet</h3>

    <form action="/snippet/">
        {{ snippet_form.hidden_tag() }}

        <!-- Render the snipper fields -->
        <p>
            {{ snippet_form.title.label }}<br>
            {{ snippet_form.title(size=20) }}<br>
            {% for error in snippet_form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ snippet_form.description.label }}<br>
            {{ snippet_form.description() }}
        </p>
        <p>
            {{ snippet_form.code.label }}<br>
            {{ snippet_form.code(class='code') }}
        </p>
        <ul>
            {% for tag in snippet_form.tags %}
                <li>tag: {{tag}}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for link in snippet_form.links %}
                <li>link: {{link}}</li>
            {% endfor %}
        </ul>
        <p>
            {{ snippet_form.submit() }}
        </p>
    </form>
    <script src="{{ url_for('static', filename='vendor/codemirror/lib/codemirror.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendor/codemirror/mode/python/python.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
</body>
</html>